@define-color borders alpha(black, 0.25);

.initial-state {
	padding: 30px 90px;
}

.recents frame {
	margin: 5px;
}

.recents row label {
	padding: 3px;
}

colour-view .sizes,
colour-view .wallpaper grid,
symbolic-view pane > box,
.margins {
	margin: 20px;
}

colour-view grid.smaller {
	margin-bottom: 10px;
}

colour-view grid.larger {
	margin-top: 10px;
}

colour-view .wallpaper {
	background-color: #EEE;
	color: black;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.4), 0 1px 8px rgba(255, 255, 255, 0.2);
}

colour-view .wallpaper label:backdrop {
	color: white;
}

.io-elementary-stylesheet-blueberry-dark .wallpaper {
	background-color: #222;
	color: white;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 1px 8px rgba(0, 0, 0, 0.2);
}

demo-icon {
	margin: 15px;
}
.exporter {
	margin: 10px;
}

.exporter .thumbnail {
	border: 1px solid alpha(black, 0.24);
	padding: 8px;
	background: @theme_bg_color;
	border-radius: 3px;
}

.working-spin {
	padding: 10px;
	border-radius: 50%;
}

.welcome .suggested-action {
  border-radius: 50px;
  padding: 10px;
}
.welcome .suggested-action-ghost {
  box-shadow: none;
  background: none;
  border: 1px solid @theme_selected_bg_color;
  color: @theme_selected_bg_color;
}

.welcome .suggested-action-ghost:hover {
  box-shadow: none;
  background: linear-gradient(to bottom, shade(mix(@theme_bg_color, @theme_selected_bg_color, 0.5), 1.1) 2px, shade(mix(@theme_bg_color, @theme_selected_bg_color, 0.5), 1.05));
  border: 1px solid shade(@theme_selected_bg_color, 0.88);
  text-shadow: 1px 1px transparent;
  color: @theme_fg_color;
}

.welcome .suggested-action-ghost:active {
  box-shadow: none;
  background: linear-gradient(to bottom, shade(mix(@theme_bg_color, @theme_selected_bg_color, 0.5), 0.85) 2px, shade(mix(@theme_bg_color, @theme_selected_bg_color, 0.5), 0.9));
  border: 1px solid shade(@theme_selected_bg_color, 0.88);
  text-shadow: 1px 1px transparent;
  color: @theme_selected_fg_color;
}
