.ip-grid {
   background-image: linear-gradient(
     to right,
     #333 50%,
     alpha(black, 0.25) 1px,
     #fafafa 1px
   );
   border: 1px solid alpha(black, 0.25);
   border-radius: 6px;
   padding: 24px;
   box-shadow: 0 1px 3px alpha(black, 0.12),
               0 1px 2px alpha(black, 0.24);
}

.boxed {
  border-radius: 6px;
  padding: 18px;
}

.accented {
  background: alpha(@accent_color, 0.25);
  border: 1px solid alpha(black, 0.25);
}

.accented-dark {
  background: alpha(shade(@accent_color, 0.85), 0.5);
  border: 1px solid alpha(black, 0.25);
}

.light_text {
  color: white;
}

.dark_text {
  color: #333;
}
