@define-color dark #333333;
@define-color accent_color #1e90ff;
@define-color accent_color_500 #1e90ff;

.ip-grid {
   background-image: linear-gradient(
     to right,
     @dark 50%,
     alpha(black, 0.25) 1px,
     @base_color 1px
   );
   border: 1px solid alpha(black, 0.25);
   border-radius: 6px;
   padding: 32px;
}

.accented {
  background: alpha(@accent_color, 0.25);
  border: 1px solid alpha(black, 0.25);
  border-radius: 6px;
  padding: 12px 0;
}

.accented-dark {
  background: alpha(shade(@accent_color, 0.85), 0.5);
  border: 1px solid alpha(black, 0.25);
  border-radius: 6px;
  padding: 12px 0;
}
