.ip-grid {
   background-image: linear-gradient(
     to right,
     #333 50%,
     alpha(@theme_fg_color, 0.24) 1px,
     #fafafa 1px
   );
   border: 1px solid alpha(black, 0.24);
   border-radius: 6px;
   padding: 24px;
   box-shadow: 0 1px 3px alpha(black, 0.12),
               0 1px 2px alpha(black, 0.24);
}

.ip-infobar revealer > box {
  border-top: 1px solid alpha(black, 0.24);
  border-bottom: 1px solid alpha(black, 0.24);
}

.boxed {
  border-radius: 6px;
  padding: 18px;
}

.bordered-boxed {
  border-radius: 6px;
  padding: 12px;
  border: 1px solid alpha(black, 0.24);
}

.accented {
  background: alpha(@accent_color, 0.1);
  border: 1px solid alpha(#333, 0.1);
}

.accented-dark {
  background: alpha(shade(@accent_color, 0.85), 0.1);
  border: 1px solid alpha(#FAFAFA, 0.1);
}

.light_text {
  color: #FAFAFA;
}

.dark_text {
  color: #333;
}

.welcome-title {
  background: @theme_bg_color;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px transparent,
              0 1px 2px transparent;
}

.welcome-title > *:disabled {
  background: @theme_bg_color;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px transparent,
              0 1px 2px transparent;
}

.dialog-grid {
    background: @theme_bg_color;
}

window {
    background: @theme_bg_color;
}
